<header class="site-header clearfix" data-behaviour="SiteHeader" id="siteHeader">
  <div class="site-header__title clearfix" role="banner">
    <div class="site-header__skip_to_content">
      <a href="#maincontent" class="site-header__skip_to_content__link button button--default">Skip to Content</a>
    </div>
    <a href="{{homePagePath}}" class="site-header__logo_link">
      <picture class="site-header__logo_link_image">
        {{! 45.625em is 730px, which is $bkpt-site--medium }}
        <source srcset="{{#assetRewrite}}{{assetsPath}}/img/patterns/organisms/logo-full.png{{/assetRewrite}}" type="image/png" media="(min-width: 45.625em)">
        <source srcset="{{#assetRewrite}}{{assetsPath}}/img/patterns/organisms/logo-symbol.png{{/assetRewrite}}" type="image/png">
        <img src="{{#assetRewrite}}{{assetsPath}}/img/patterns/organisms/logo-full.png{{/assetRewrite}}" alt="eLife logo" class="site-header__logo_link"/>
      </picture>
      <span class="visuallyhidden" >eLife home page</span>
    </a>
  </div>
  <div class="site-header__navigation" role="navigation" aria-label="Main navigation">
    <a href="https://www.epress.ac.uk//ijm/webforms/author.php" style="margin-top: 6px; text-transform: uppercase; border: 1px solid black; float: right;background-color: #0288d1; border: 1px solid #0288d1; color: #fff; border-radius: 3px;font-size: 11px;font-size: .6875rem;line-height: 2.1818181818; padding: 0rem .375rem; height: 24px;">Submit my research</a>

    {{#secondaryLinks}}
      {{> patterns/site-header-nav-bar }}
    {{/secondaryLinks}}

    {{#primaryLinks}}
      {{> patterns/site-header-nav-bar }}
    {{/primaryLinks}}

  </div>

  {{#searchBox}}
    {{> patterns/search-box}}
  {{/searchBox}}

</header>
